<footer class="mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Contact Us</h4>
				<p>Email: info@booklink.com</p>
				<p>Phone: +1234567890</p>
			</div>
			<div class="col-md-4">
				<h4>Customer Service</h4>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Shipping & Returns</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Service</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Connect With Us</h4>
				<ul class="list-inline">
					<li class="list-inline-item"><a href="#"><i
							class="fab fa-facebook-f"></i></a></li>
					<li class="list-inline-item"><a href="#"><i
							class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="#"><i
							class="fab fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="#"><i
							class="fab fa-pinterest"></i></a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="text-center">
			<span class="text-muted">&hearts; 2023 Booklink, Woodlands</span>
		</div>
	</div>
</footer>
