<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<link rel="icon" type="images" href="images/favicon.png"/>
<style>
*{
font-family: 'Poppins', sans-serif;
}
</style>
</head>
<header>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark p-md-3">
		<div class="container-fluid">
			 <a href="http://localhost:8080" class="navbar-brand">XK ELECTRONICS<!-- <img
				src="/images/xk.gif" style="height:80px; object-fit:cover; border:10px">--></a>
			<button type="button" class="navbar-toggler" 
				data-bs-target="#navbarNav" 
				data-bs-toggle="collapse"
				aria-controls="navbarNav" 
				aria-expanded="false"
				aria-lable="Toggle Navbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="mx-auto"></div>
				<ul class="navbar-nav">
					<li class="nav-item"><a href="http://localhost:8080" class="nav-link text-white">Home</a>
					</li>

					<li class="nav-item"><a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BUYER','ROLE_SELLER')" href="/products" class="nav-link text-white">Products</a>
					</li>
					
					<li class="nav-item"><a sec:authorize="hasAnyRole('ROLE_BUYER','ROLE_SELLER')" class="nav-link text-white" href="/cart">Cart</a>
					</li>
					
					<li class="nav-item"><a sec:authorize="hasAnyRole('ROLE_BUYER','ROLE_SELLER')" class="nav-link text-white" href="/purchase_history">Purchase History</a>
					</li>
					
					<li class="nav-item"><a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SELLER')" href="/categories" class="nav-link text-white">Categories</a>
					</li>
					
					<li class="nav-item"><a sec:authorize="hasRole('ROLE_ADMIN')" href="http://localhost:8080/members" class="nav-link text-white">Members</a>
					</li>

					<li class="nav-item"><a href="http://localhost:8080/aboutus" class="nav-link text-white">About</a>
					</li>

					<li class="nav-item"><a href="http://localhost:8080/contactus" class="nav-link text-white">Contact</a>
					</li>
					
					<li class="nav-item"><a sec:authorize="hasRole('ROLE_ADMIN')" href="http://localhost:8080/dashboard" class="nav-link text-white">Dashboard</a>
					</li>
					
					<!--  <li class="nav-item"><a sec:authorize="hasRole('ROLE_BANNED')" href="http://localhost:8080/banned" class="nav-link text-white">You have been banned</a>
					</li>-->
					
					<li class="nav-item"><a sec:authorize="!isAuthenticated()" class="nav-link text-white"
					href="/login">Login</a>
				<form sec:authorize="isAuthenticated()" th:action="@{/logout}"
					method="post" class="">
					<button class="btn nav-link" type="submit">Logout</button>
				</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>