<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Booklink - Add Item</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
body {
	padding-top: 80px;
}
</style>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<main>
			<h1>Add new Item</h1>
			<form class="needs-validation" th:action="@{/items/save}" method="post" enctype="multipart/form-data"
			th:object="${item}" novalidate>
			
			<div class="mb-3 col-5">					
					<label for="item_seller" class="form-label">Seller: </label> <input
					id="item_seller" type="text" class="form-control"
					th:field="*{seller}" required minlength=5 maxlength=50 />	
					<div class="invalid-feedback"> Front- Please enter a valid seller.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></p>
					
				</div>

				<div class="mb-3 col-5">					
					<label for="item_name" class="form-label">Name: </label> <input
					id="item_name" type="text" class="form-control"
					th:field="*{name}" required minlength=5 maxlength=50 />	
					<div class="invalid-feedback"> Front- Please enter a valid name.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					
				</div>

				<div class="mb-3 col-5">
					<label for="item_description" class="form-label">Description: </label> <input
					id="item_description" type="text" class="form-control"
					th:field="*{description}" required minlength=5 maxlength=100 />	
					<div class="invalid-feedback"> Front- Please enter a valid description.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>	

				</div>

				<div class="mb-3 col-5">
					<label for="item_price" class="form-label">Price</label> <input
						id="item_price" class="form-control" type="text"
						th:field="*{price}" required minlength=0 />
						
					<p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>	
				</div>

				<div class="mb-3 col-5">
					<label for="item_quantity" class="form-label">Quantity</label> <input
						id="item_quantity" class="form-control" type="text"
						th:field="*{quantity}" required minlength=0 />
					<p class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
				</div>


				<div class="mb-3 col-5">
					<label for="item_category" class="form-label">Category: </label> <select
						id="item_category" class="form-control" th:field="*{category}" required>
						<option value="">Choose one</option>
						<option th:each="cat : ${catList}" th:value="${cat.id}"
							th:text="${cat.name}"></option>
					</select>
					<div class="invalid-feedback"> Front- Please enter a valid category.</div>
					<p class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
				</div>

				<div class="mb-3 col-5">
					<label for="itemImage" class="form-label">Item image: </label> 
					<input type="file" class="form-control" id="itemImage" name="itemImage" accept="image/png, image/jpeg" required/>
				</div>
				
				<div class="mt-5">
					<input type="submit" value="Add Item">
				</div>


			</form>
		</main>
		<div th:replace="fragments/footer"></div>
	</div>
</body>

<script>
	'use strict'
	var form = document.querySelector('.needs-validation')

	form.addEventListener('submit', function(event) {
		if (!form.checkValidity()) {
			event.preventDefault()
			event.stopPropagation()
		}

		form.classList.add('was-validated')

	})
</script>
</html>