<!-- 21041531 Badi's code and function -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Booklink - Home</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<main>
			<h1>The Item(s) you are looking for is no longer Available.</h1>
		</main>
		<p>The following listing may have been banned/removed as it may
			have been prohibited or is illegal in the country</p>
		<p1>Prohibited items are not allowed to be imported into
		Singapore. These include: Chewing gum (except dental and medicated
		gum) Chewing tobacco and imitation tobacco products (for example,
		electronic cigarettes) Cigarette lighters in the shape of a pistol or
		revolver Controlled drugs and psychotropic substances Firecrackers
		Obscene articles, publications, videotapes, videodiscs and software
		Reproductions of copyright publications, videotapes, videodiscs and
		laser discs, records and cassettes Seditious and treasonable
		materials. Controlled goods are items that require an import permit or
		authorisation from the relevant controlling authority for importation
		into Singapore. For more information on items such as food and
		personal medication, please visit our web page on Prohibited Goods and
		Controlled Goods for the relevant controlling authority.</p1>
		
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>

