<!-- 21041531 Badi's code and function -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Booklink - Home</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>


</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<main>
			<h1>The Item has been successfully banned.</h1>
		</main>
		<p>Ensure that the item has been banned/removed as it may have
			listed prohibited or illegal items, violating our guidelines and
			local laws.</p>
		<p>Prohibited items are not allowed to be imported. These include:</p>
		<ul>
			<li>Chewing gum (except dental and medicated gum)</li>
			<li>Chewing tobacco and imitation tobacco products (for example,
				electronic cigarettes)</li>
			<li>Cigarette lighters in the shape of a pistol or revolver</li>
			<li>Controlled drugs and psychotropic substances</li>
			<li>Firecrackers</li>
			<li>Obscene articles, publications, videotapes, videodiscs, and
				software</li>
			<li>Reproductions of copyright publications, videotapes,
				videodiscs, laser discs, records, and cassettes</li>
			<li>Seditious and treasonable materials</li>
		</ul>
		<p>Controlled goods are items that require an import permit or
			authorization from the relevant controlling authority for importation
			into Singapore. For more information on items such as food and
			personal medication, please visit our web page on Prohibited Goods
			and Controlled Goods for the relevant controlling authority.</p>
		<br>
		<p>It is essential to uphold ethical conduct and comply with the
			law when using our platform. We strictly prohibit any form of
			misconduct or engagement in illegal activities by our users. This
			includes, but is not limited to, fraudulent actions, unauthorized
			access, intellectual property infringement, and any activity that
			violates local, national, or international laws. We prioritize the
			safety, security, and fair usage of our platform for all users. Any
			violation of these guidelines may result in legal consequences and
			appropriate actions taken against the responsible parties. We
			encourage users to familiarize themselves with the applicable laws
			and regulations to ensure a lawful and respectful environment for
			everyone involved.</p>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>