<!DOCTYPE HTML>
<html>
<head>
<style>
body {
	padding-top: 80px;
}
</style>
<title>XK Electronics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
</head>

<body>
	<div th:replace="/fragments/header"></div>
	<div class="container my-4">
		<div class="h1">View Laptops:</div>
		<div class="shadow-4 rounded-5 overflow-hidden">
		<input id='myInput' onkeyup='searchTable()' type='text' placeholder="Type to search">
			<table class="table table-hover align-middle mb-0 bg-white" id='myTable'>
				<thead class="bg-light">
					<tr>
					<th>Seller</th>
						<th>Category</th>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Quantity</th>
						<th><a sec:authorize="hasRole('ROLE_ADMIN')">Edit</a></th>
						<th><a sec:authorize="hasRole('ROLE_ADMIN')">Delete</a></th>

					</tr>
				</thead>
				<tbody>
					<th:block th:each="laptop: ${listOfProducts}">
						<tr>
						<td th:text="${laptop.seller}"></td>
							<td th:text="${laptop.category.name}"></td>
							<td><a th:href="@{/products/{id}(id=${laptop.id})}"
								th:text="${laptop.name}"></a></td>
							<td th:text="${laptop.description}"></td>
							<td th:text="${laptop.price}"></td>
							<td th:text="${laptop.quantity}"></td>
							<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/edit/{id}(id=${laptop.id})}"><button
										type="button" class="btn btn-primary">Edit</button></a></td>
							<td><a sec:authorize="hasRole('ADMIN')" th:href="@{/products/delete/{id}(id=${laptop.id})}"><button
										type="button" class="btn btn-warning" onclick="myConfirm(event)">Delete</button></a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div th:replace="/fragments/footer"></div>
</body>

<script>
function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    tr = table.querySelectorAll("tbody tr:not(.header)");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}

function myConfirm(event) {
	var result = confirm("Are you sure you want to remove this member?");
	if (!result) {
		event.preventDefault(); // Prevent the default behavior (i.e., following the link)
	}
}
</script>


</html>


