<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 50px;
        }

        .form-container {
            max-width: 350px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h2>Reset Your Password</h2>
            </div>

            <div class="form-container">
                <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                    <input type="hidden" name="token" th:value="${token}" />
                    <div class="border border-secondary rounded p-3">
                        <div>
                            <p>
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Enter your new password" required autofocus />
                            </p>         
                            <p>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" 
                                    placeholder="Confirm your new password" required oninput="checkPasswordMatch();" />
                                <small id="passwordMatchMessage" class="form-text text-danger"></small>
                            </p>         
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary" id="changePasswordBtn" disabled>Change Password</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var passwordField = document.getElementById("password");
    var confirmPasswordField = document.getElementById("confirmPassword");
    var passwordMatchMessage = document.getElementById("passwordMatchMessage");
    var changePasswordBtn = document.getElementById("changePasswordBtn");

    function checkPasswordMatch() {
        if (confirmPasswordField.value !== passwordField.value) {
            passwordMatchMessage.textContent = "Passwords do not match!";
            changePasswordBtn.disabled = true;
        } else {
            passwordMatchMessage.textContent = "";
            changePasswordBtn.disabled = false;
        }
    }
</script>

</body>
</html>
