<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!DOCTYPE html>
<title>Booklink - Shopping Cart</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AS8QhhNa4NQBqi7knl--97JEe-QqDPs5kkNdT6kJt4ERGuhvNx1h577fg_1Gw3qz6H39tD67XAR2oUOI&currency=SGD&components=buttons">
</script>

</head>
<body>
 <div class="container">
  <div th:replace="fragments/header"></div>
  <main>
   <div class="container ">
    <div class="row fs-1 text-center">
     <p>THANK YOU FOR YOUR ORDER</p>
    </div>
   </div>
  </main>
  <div th:replace="fragments/footer"></div>
 </div>
</body>
</html>