<!DOCTYPE html>
<html lang="en">
<head>
<title>XK ELECTRONICS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
.card {
	width: 400px; /* You can set the dimensions to whatever you want */
	height: 400px;
	object-fit: cover;
}

body {
	padding-top: 70px;
}

/* .btn-danger {
	margin-left: 715px;
} */
</style>

<!--<script>
	function confirmOrder() {
		var text;
		if (confirm("Confirm order?")) {
			text = "Purchase confirmed!"
			alert("Thank you for ordering!");

		} else {
			text = "Order canceled!"
			alert("Your order has been cancelled!");
			this.style.visibility = 'visible'
		}
	}
</script>-->

</head>
<body>
	<div th:replace="/fragments/header"></div>
	<div class="container-fluid text-black text-center">
		<h1 th:text="${item.name}"></h1>
	</div>

	<div class="container d-flex justify-content-center">

		<div class="row">
			<h5 th:text="Seller"></h5>
			<p th:text="${item.seller}"></p>
		</div>

		<div class="row">
			<h5 th:text="Price"></h5>
			<p th:text="${item.price}"></p>
		</div>
		<div class="row text-center">
			<h5 th:text="Description"></h5>
			<p th:text="${item.description}"></p>
		</div>

		<div class="row">
			<h5 th:text="Quantity"></h5>
			<p th:text="${item.quantity}"></p>
		</div>
		<div sec:authorize="hasAnyRole('ROLE_BUYER', 'ROLE_SELLER')">
			<form th:action="@{/cart/add/{itemId}(itemId=${item.id})}"
				method="post">
				<input type="number" name="quantity" value="1" min="1"
					th:max="${item.quantity}" />
				<button class="btn btn-primary">Add to cart</button>
			</form>
		</div>

		<hr>
	</div>
	<div class="col d-flex justify-content-center">

		<div class="card mb-4 border-0">
			<img
				th:src="@{/uploads/items/{id}/{imgName}(id=${item.id}, imgName=${item.imgName})}" />

			<!--<button class="btn btn-danger" onclick="confirmOrder(); this.style.visibility = 'hidden'">Place Order</button>-->
		</div>
	</div>

	<div th:replace="/fragments/footer"></div>
</body>

</html>